@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color:#F5F5F5;
  color: 67727A;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}
h1{
  color:black;

}
h2 {
  font-size: 180%;
  font-weight: 700px;
  text-align: center;
  padding-top: 2%
}
h3 {
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
}
p {
  font-size: 110%;
  line-height: 150%;
  padding: 1%;
  text-indent: 2%;
  text-align: justify;
  color: #F5F5F5;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}
header {
  background-color: #6991AC;
  width: 100%;
  height: 86px;
}
#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}
#logo {
  margin: 2px;
  float: left;
  width: 100px;
  height: 40px;
  background: url(img/logo.jpg) no-repeat center;
}
#hero {
	background-image: url(./img/campus.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
nav h1{
  float: left;
  padding-top:20px;
}

a:hover {
  border-radius: 4px 4px 0 0;
  color:aliceblue
}
a:visited{
  color:black
}
.one-fourth:hover{
  color: #544859;
}
ul {
  list-style-type: none;
}
nav ul li {
  font-size: 150%;
  display: inline-block;
  float:right;
  padding: 10px;
}
a{
  color:black;
  text-decoration: none;
}
nav ul li a {
  color: #F5F5F5;
  text-decoration: none;
}
nav ul li a:hover {
  color: #C3D7DF;
}
.current {
  color: #C3D7DF;
}
/*---end of navigation---*/
.banner {
  width: 100%;
  background-color: #6991AC;
}
.banner-inner {
  max-width: 1000px;
  margin: 0 auto;
}
.one-fourth {
  width: 25%;
  float: left;
  text-align: center;
}
#html {
  background-color: #F1AA90;
}
#css {
  background-color: #8BE9AD;
}
#seo {
  background-color: #AADCD2;
}
#social {
  background-color: #A2b2C1;
}
.one-fourth i {
  color: #F0F0F0;
  font-size: 500%;
  padding: 13% 0 4% 0;
}
.inner-wrapper {
  float: left;
  width: 100%;
  background-color: #C3D7DF;
}
article {
  float: left;
  width: 50%;
  margin; 0 auto;
  height: auto;
}
#tablet {
  background-color: #C3D7DF;
}
aside {
  width: 50%;
  float: right;
  margin: 0 auto;
  height: auto;
}
#tablet2 {
  background-color: #A2B1C1;
}
#mobile {
  background-color: #BEB9AD;
}
#desktop {
  background-color: #F1AA90;
}
.inner-wrapper-2 {
  width: 100%;
  float: left;
  background-color: #C3D7DF;
}
.inner-wrapper-3 {
  width: 100%;
  float: left;
  background-color: #AADCD2;
}
.one-third {
  width: 33.33333333%;
  float: left;
  text-align: center;
}
#google {
  background-color: #A2B1C1;
}
#marketing {
  background-color: #BEB98D;
}
#customers {
  background-color: #AADCD2;
}
#smelly {
  background-color: #AADCD2;
  padding: 0 0 1%;
  clear: both;
}
/*--footer---*/
footer {
  background-color: #6991AC;
  width: 100%;
}
.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 450%;
  margin: 1%;
  padding: 5% 5% 5% 4%;
  color: #C3D7DF;
}
.social i:hover {
  color: #f5f5f5;
}
/*--- begining of second footer---*/
footer.second {
  border-top: 2px solid #AADCD2;
  background-color: #544859;
  max-height: 35px;
}
footer.second p{
  text-align: center;
}
/*---media start----*/
@media screen and (max-width: 768px) {
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 110%;
  }
  header {
    position: absolute;
  }
  #logo {
    margin: 15px 0 20px 25px;
    background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/RD_mobile_sapd7z.png) no-repeat center;
  }
  #menu-icon {
    display: inline-block;
    }
  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #6991AC;
    padding: 20px;
    right: 20px;
    top: 60px;
    border: 1px solid #fff;
    border-radius: 2px 0 2px 2px;
    width: 50%;
  }
  nav:hover ul {
    display: block;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .banner {
    padding-top: 86px;
  }
  .one-fourth {
    float: left;
    width: 100%;
  }
  .one-fourth i {
    font-size: 350%;
    padding: 4% 0 1% 0;
  }
  article {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  .hand-mobile {
    display: none;
  }
  .one-third {
    width: 100%;
  }
  .social i {
    font-size: 180%;
  }
}


